# Gitignore file
# Remove backup files
*#
*.
*.elc
*.eln
*~
.#*
.lsp-session*
.

# Emacs packages
var/

#  Emacs tmp files & Misc
/eln-cache
/bbdb
/.cache/
/emms
/recentf
/.mc-lists.el
/.DS_Store
/network-security.data
/.emacs.desktop
/.emacs.desktop.lock
/.watsonresults
/ac-comphist.dat
/auto-save-list
/eshell/history
/eshell/lastdir
/newsticker/feeds/
/snippets/
/tramp
/transient/
/url/
/.python-environments/
/ido.last
/places
/secrets.el
/games/
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/projects
/transient
/image-dired
.dap-breakpoints
.org-id-locations
p/.extension/
/eshell
/elpa
/tree-sitter/
/tree-sitter/bin/*
!/tree-sitter/bin/
gnus.el
history
savehist
ielm-history.eld