# Gitignore file
# Remove backup files

!/tree-sitter/bin/
#  Emacs tmp files & Misc
# Emacs packages
*#
*.
*.elc
*.eln
*~
.
.#*
.dap-breakpoints
.lsp-session*
.org-id-locations
/.DS_Store
/.cache/
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.python-environments/
/.watsonresults
/ac-comphist.dat
/auto-save-list
/bbdb
/bookmarks
/eln-cache
/elpa
/emms
/eshell
/eshell/history
/eshell/lastdir
/games/
/ido.last
/image-dired
/network-security.data
/newsticker/feeds/
/places
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/secrets.el
/snippets/
/tramp
/transient
/transient/
/tree-sitter/
/tree-sitter/bin/*
/url/
custom-vars.el
gnus.el
history
ielm-history.eld
p/.extension/
savehist
var/